@import url('https://googleapis.com');
@import url('https://fontshare.com[]=satoshi@400,500,700,900&display=swap');

:root {
    --font-title: 'Plus Jakarta Sans', sans-serif;
    --font-subtitle: 'Lexend', sans-serif;
    --font-body: 'Satoshi', sans-serif;
}